.pokedex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 10px 10px;
  align-items: center;
}

.pokemon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1 1 auto;
  min-width: 25%;
  margin: 10px 10px;
  border: 1px gray solid;
  border-radius: 10px;
}

.img-favorite {
  display: flex;
}

.favorite-label{
  display: block;
  margin-bottom: 10px;
}